body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
  }
  p{
    font-size: 18px;
  }
  header{
    background-color: #97c1e9;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    justify-items: center;
   
  }
  header img{
    max-width: 10%;
    max-height: 10vh;   
  }
  header h1{
    color: rgb(212, 113, 0);
    border: 6px solid rgb(47, 69, 83);
    display: inline-block;
    padding: 1%;
    font-size: 2.2rem;
    border-radius: 36px;
    letter-spacing: 10px;
    width: 20%;
    display: inline-block;
    justify-self: center;
    /* margin: 10px 150px; */
  }
  .banner{
    position: relative;
  }
  .banner img{
    max-width: 100%;
  
  }
  nav{
    background: rgb(47, 69, 83);
    
    padding: 20px;
    position: sticky;
    top: 12.5vh;
    z-index: 1;
  }
  nav ul{
    white-space: nowrap;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
  }
  nav li{
    color: aqua;
    display: flex;
    font-size: 24px;
  }
  nav li a{
  display: flex;
    text-decoration: none;
    color: aqua;
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.join{
    color: #F63232;
  }
  main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  article h3{
    color: #F63232;
    font-size: 40px;
    text-align: center;
  }
  article p{
    line-height: 2em;
    color: #4B4B4B;
    font-size: 1.3em;
    text-align: center;
  }
  article p::first-line{
    font-weight: bold;
    font-size: 1.4em;
    line-height: 60px;
  }
  #erf {
    text-decoration: underline;
    color: #636bdf;
  }
  .images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
  }
  .images li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
  }
  .images li:hover{
    top: -4px;
  }
  .images li img{
    max-width: 100%;
    border-radius: 150px;
  }
  #alt_img1 {
    border-radius: 10px;
  }
 
  section.join{
    background-color: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
    margin: 0 10%;
    border-radius: 100px;
  }
  section.join h2{
    font-size: 36px;
  }
  section.join p{
    font-size: 22px;
    letter-spacing: 2px;
  }
  form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
  }
  form input:focus{
    border: 4px dashed #4B4B4B;
    outline: none;
  }
  form input:valid{
    border: 4px solid #464745;
  }
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f16f6f;
    color: white;
    padding: 10px;
    text-align: center;
  }

  footer p{   
    font-size: 25px;
    margin-right: 50px;
  }

  footer ul{
    
    white-space: nowrap;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;  
  }

  footer li{
    display: flex;
    justify-self: end;
    font-size: 24px;    
  }
  footer li a{
    margin-right: 20px;
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);    
  }

  footer li a:hover{
    text-decoration: underline;
    color: rgb(52, 0, 240);    
  }
  
  /* responsive styles */
  @media screen and (min-width: 2200px){
    nav{
      position: sticky;
      top: 1.5vh;   
    }
    header h1{      
      font-size: 4.1rem;
    }
  }
  @media screen and (min-width: 1400px){
    nav{
      
      top: 14.5vh;
      
    }

  }